.RecipeHeader {
  width: fit-content;
  
  margin-bottom: 8px;
  margin-left: 16px;
  // margin-right: 156px;
//   margin-top: 25px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  //padding: 16px;
  border-radius: 8px;
  
  background: #eee;
  max-width: 83%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > .firstline {
    width: 100%;
    margin-left: 16px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    color: #e08200;
    margin-top: 8px;
    & > label {
      padding-right: 20px;
     
  }
  & > input,
  select {
    border-radius: 8px;
    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
    padding: 4px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-self: stretch;
    max-width: 70%;
    width: 100%;
  }
}
}
.RecipeHeader .title {
  width: 100%;
  height: 50px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #e08200;
  margin-top: 8px;
}
