.RecipeHeader {
  width: fit-content;

  margin: 16px;
  // margin-right: 156px;
  //   margin-top: 25px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  border-radius: 8px;

  background: #fafafa;
  max-width: 80%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > .firstline {
    width: 100%;

    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    color: #e08200;
    margin-top: 8px;
    & > label {
      padding-right: 20px;
    }
    & > input,
    select {
      border-radius: 8px;
      border: 1px solid #ddd;
      background: #eee;
      padding: 4px;
      margin-right: 10px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-self: stretch;
      max-width: 70%;
      width: 100%;
    }
  }
}
.RecipeHeader .title {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #e08200;

  & h2 {
    margin: 0;
  }
}
